@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
        /* Site Specific Colours */
        --faint-border-colour: #00000000;
        --black: #0d0d0c;
        --white: #ffffff;
        --grey: #bdbdbd;
        --yellow: #fcba03;
        --purple: #341857;
        --deep-pink: #4f1036;
        --deep-red: #570a0a;
        --bright-red: #f60000;
        --sea-green: #0a5749;
        --dull-green: #32570a;
        --pale-green: #afd18a;
        --gold: #dad49c;
        /* Site main colours */
        --primary-colour: #e8e3dd;
        --text-primary: var(--black);
        --secondary-colour: #3e3a36;
        --text-secondary: var(--white);
        --tertiary-colour: #b46a4e;
        --text-tertiary: var(--white);
        /* Text Colours */
        --in-stock: green;
        --out-stock: red;
        --low-stock: yellow;
        --hero-text-alt-colour: var(--white);
        /* Widths */
        --width-max: 1300px;
        --width-base: 1300px;
        /* Margins */
        --widget-bottom: 20px;
 
        /* Image hover */
        --transition-image-hover: all 0.2s ease;
        --transform-image-hover: scale(1.05);

        /* Border radii */
        --border-radius-default: 10px;
        --border-radius-cards: var(--border-radius-default);
        --border-radius-hero: 0px;
        --border-radius-hero-alt: 100px 0px 100px 0px;
        --border-radius-slider-arrows: 100%;

        /* Fonts */
        --font-cal-sans: "Cal Sans", sans-serif;
        --font-tinos: 'Tinos', serif;
        --font-markzani: "Markazi Text", serif;

        --font-heading: var(--font-tinos);
        --font-body: var(--font-markzani);

        /* Font Sizes */
        --text-2xl: 1.25rem; 

        /* Font Styling Collections */
        --widget-heading: 600 2rem var(--font-heading);
        --widget-subheading: 400 1rem var(--font-body);

        --slide-title-default: 400 16px var(--font-heading);
        --slide-title-small: 400 14px var(--font-heading);
        --body-font: 600 1rem var(--font-body);
        --slide-desc-default: var(--body-font);

        --blog-header-h1: 600 30px var(--font-heading);
        --blog-header-author: var(--body-font);

        /* Listings */
        --listing-title: 600 1.625rem var(--font-heading); /* Listing page title */
        --listing-category: 400 1rem var(--font-body); /* Listing page category */
        --listing-sub-category: 400 .875rem var(--font-body); /* Listing page sub category */
        --listing-tab-heading: 600 1.5rem var(--font-heading); /* Listing tab heading */

        /* Store Item Product */
        --product-price-font: 600 1.5rem var(--font-body);
        --product-price-colour: var(--deep-red);
        --product-vat-font: 400 .875rem var(--font-body);
        --product-vat-colour: var(--sea-green);


        /* Widget Specific Fonts and sizes */
        --hero-alt-title: 600 48px var(--font-heading);
        
        @media screen and (min-width: 640px) {
            /* Text sizes */
            --widget-heading: 600 40px var(--font-heading);
            --widget-subheading: 400 20px var(--font-body);

            --slide-title-default: 400 20px var(--font-heading);
            --slide-title-small: 400 16px var(--font-heading);
            --body-font: 400 16px var(--font-body);
            --slide-desc-default: var(--body-font);

            /* Blog */
            --blog-header-h1: 600 50px var(--font-heading);
            --blog-header-author: var(--body-font);

            /* Listings */
            --listing-title: 600 2.25rem var(--font-heading); /* Listing page title */
            --listing-category: 400 1.125rem var(--font-body); /* Listing page category */
            --listing-sub-category: 400 1rem var(--font-body); /* Listing page sub category */
            --listing-tab-heading: 600 1.75rem var(--font-heading); /* Listing tab heading */

            
            /* Widget Specific Fonts and sizes */
            --hero-alt-title: 600 70px var(--font-heading);
            --radius-mid: 6px;
        }

        @media screen and (min-width: 1024px) {
            /* Text sizes */
            --widget-heading: 600 40px var(--font-heading);
            --widget-subheading: 400 20px var(--font-body);
            --slide-title-default: 600 22px var(--font-heading);
    
            --body-font: 400 16px var(--font-body);
        }
}


/* Website specicific styles */
#app {
    .toggle-yes {
        background-color: var(--black);
    }
    .hamburger-nav {
        .hamburger-inner.mobile {
            width: 100%;
        }
    }
    background-color: var(--white);
    .front-page-wrapper {
        background-color: #e9e9e95f;
        .hero.hero_image_alt {
            margin: 10px 10px var(--widget-bottom);
            width: calc(100% - 20px);
            @media screen and (min-width: 40em) {
                margin: 20px 20px var(--widget-bottom);
                width: calc(100% - 40px);
            }
            .content .item {
                .text-section {
                    width: 75%;
                    text-align: center;
                    align-items: center;
                    @media screen and (min-width: 40em) {
                        h3.slide-title {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .header-wrapper {
            position: sticky;
            top: 0px;
            z-index: 999;
            .top-bar {
                transition: all 0.2s ease;
                overflow: hidden;
            }
            .nav {
                background-color: var(--white);
                .nav-inner {
                    .logo {
                        margin-right: auto;
                    }
                }
            }
        }
    }
    .header-wrapper {
        .top-bar {
            .top-bar-inner {
                font-size: 1rem;
                .contact-quote-wrapper {
                    .contact-info {
                        font-size: 1rem;
                    }
                    a.topbar-button {
                        font-size: 1rem;
                        color: var(--black);
                        @media (hover: hover) {
                            &:hover {
                                background-color: var(--primary-colour);
                                color: var(--black);
                            }
                        }
                    }
                }
            }
        }
        .nav {
            .nav-inner {
                display: flex;
                justify-content: flex-end;
                .page-list {
                    margin-right: 0px;
                    font-size: 1.25rem;
                }
                .widgets {
                    margin-left: 10px;
                    .trans-button {
                        p {
                            color: var(--primary-colour);
                            text-align: center;
                            font-weight: 600;
                            font-size: 1.125rem;
                            padding: 0px 8px;
                        }
                    }
                }
            }
        }
    }
}

#app .core-widget.text_hero.hero {
    margin-bottom: 0px;
    .content {
        .item {
            .text-section {
                padding: 40px;
                p.slide-desc {
                    line-height: 1.4;
                }
                @media (hover:hover) {
                    h3.slide-title:hover {
                        color: var(--white);
                        text-decoration: none;
                    }
                }
            }
        }
        @media screen and (min-width: 64em) {
            .item {
                background-color: var(--primary-colour);
                .text-section {
                    max-width: 800px;
                    padding: 180px 100px;
                    h3.slide-title {
                        font-size: 2.5rem;
                    }
                    p.slide-desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

#app .core-widget.slider_icon {
    background-color: #e9e9e95f;
}

#app {
    .core-widget.image.image_spacer {
        div.content {
            height: 300px;
        }
    }
}
/* App widget headers */
#app {
    .custom-form-widget,
    .core-widget {
        .widget-header {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .header-text {
                gap: 10px;
                display: flex;
                flex-direction: column;
                text-align: left;
                h3.widget-subtitle {
                    font-size: 1.25rem;
                }
                h1.widget-title {
                    font-size: 2rem;
                    font-weight: 400;
                    position: relative;
                    &::after {
                        content: '';
                        background-color: var(--grey);
                        height: 1px;
                        width: 100px;
                        left: 0px;
                        bottom: -15px;
                        position: absolute;
                    }
                    margin-bottom: 20px;
                }
                p.widget-description {
                    line-height: 1.1;
                    font-weight: 400;
                    font-size: 1.125rem;
                }
            }
            .view-all-btn {
                margin: 20px 0px;
                font-size: 1rem;
                text-transform: uppercase;
                border-bottom: 1px solid var(--secondary-colour);
                color: var(--primary-colour);
                position: relative;
                &::after {
                    top: 100%;
                    content: '';
                    left: 0px;
                    height: 1px;
                    position: absolute;
                    background-color: var(--primary-colour);
                    width: 0%;
                    transition: all 0.2s ease;
                }
                @media (hover: hover) {
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
            @media screen and (min-width: 64em) {
                .header-text {
                    h1.widget-title {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}

/* Slider style */
#app {
    .core-widget.slider {
        .swiper {
            .swiper-slide-active {
                .text-section {
                    .slide-title {
                        opacity: 1;
                    }
                }
            }
        }
        &.slider_2_across {
            .swiper {
                padding-bottom: 54px;
                @media screen and (min-width: 40em) {
                    padding-bottom: 0px;
                }
            }
            .text-section {
                padding-left: 100px;
                justify-content: center;
                gap: 0px;
                padding: 24px 10px 24px 120px;
                .slide-desc {
                    display: none;
                }
                .slide-title {
                    opacity: 0;
                    transition: all 0.2s;
                    font-size: 1.125rem;
                }
            }
            .swiper-counter {
                display: flex;
                position: absolute;
                bottom: 54px;
                background-color: var(--primary-colour);
                padding: 15px 30px;
                color: var(--white);
                font-weight: 600;
                font-size: 1.625rem;
                gap: 20px;
                z-index: 5;
                .current-slide {
                    position: relative;
                    &::after {
                        content: '/';
                        position: absolute;
                        right: -15px;
                    }
                }
            }
            .swiper-arrows {
                bottom: 0px;
                position: absolute;
                right: 20px;
                display: flex;
                width: calc(100% - 40px);
                gap: 20px;
                justify-content: space-between;
                .swiper-button-prev,
                .swiper-button-next {
                    position: relative;
                    left: auto;
                    right: auto;
                    @media (hover:hover) {
                        &:hover {
                            color: var(--white);
                        }
                    }
                }
            }
            @media screen and (min-width: 40em) {
                .swiper-counter {
                    bottom: 0px;
                }
                .swiper-arrows {
                    width: 120px;
                    bottom: 10px;
                }
            }
        }   
    }
    .custom-form-widget {
        padding-top: 50px;
        padding-bottom: 30px;
        div.widget-header {
            justify-content: center;
            align-items: center;
            text-align: center;
            .header-text {
                text-align: center;
                h1.widget-title {
                    &::after {
                        left: calc(50%);
                        transform: translateX(-50%);
                    }
                }
            }
        }
        form.form-wrapper {
            .submit-btn {
                background-color: var(--primary-colour);
                color: var(--white);
                border-color: var(--primary-colour);
                font-size: 1.2rem;
            }
            .form-inner {
                font-size: 1.2rem;
                .form-field {
                    textarea,
                    input {
                        &:focus,
                        &:focus-visible {
                            outline: 2px solid var(--secondary-colour);
                        }
                    }
                }
                @media screen and (min-width: 40em) {
                    .form-field {
                        grid-column: auto;
                        &.textarea-field {
                            grid-column: 1 / span 2;
                            textarea {
                                min-height: 200px;
                            }
                        }
                    }
                }
                @media screen and (min-width: 64em) {
                    .form-field {
                        grid-column: auto;
                        &.textarea-field {
                            grid-column: 1 / span 2;
                            textarea {
                                min-height: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* styling */
#app {
    .hero_image {
        .content {
            .item {
                .text-section {
                    max-width: 500px;
                }
            }
        }
    }
    .cookie-banner {
        background-color: var(--secondary-colour) !important;
        .buttons {
            button {
                background-color: var(--tertiary-colour) !important;
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--primary-colour) !important;
                    }
                }
            }
        }
    }
    a:hover {
        color: var(--secondary-colour) !important;
    }
    .widget-header {
        .widget-subtitle {
            color: var(--secondary-colour);
        }
    }
    .core-widget.image.image_spacer {
        .content {
            .item {
                div.text-section {
                    a.btn-read-more {
                        p {
                            border-color: var(--primary-colour);
                            background-color: var(--primary-colour);
                            color: var(--secondary-colour);
                        }
                        &::after {
                            background-color: var(--secondary-colour);
                            color: var(--white);

                        }
                        @media screen and (min-width: 40em) {
                            &::after {
                                content: 'Make Appointment';
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .footer-top {
            color: var(--white);
            display: flex;
            @media screen and (min-width: 40em) {
                flex-direction: row;
                gap: 20px;
                .social-links {
                    align-items: flex-end;
                    a {
                        display: flex;
                    }
                }
            }
            .right-upper {
                margin-top: auto;
            }
            .social-links {
                margin-left: auto;
                width: fit-content;
                a svg {
                    transition: all 0.2s;
                }
            }
            @media (hover:hover) {
                a:hover {
                    color: var(--white) !important;
                }
                .social-links a:hover {
                    svg {
                        color: var(--tertiary-colour);
                        background-color: var(--white);
                        border-radius: 100px;
                    }
                }
            }
        }
    }
    .front-page-wrapper {
        .header-wrapper {
            .nav.nav-open {
                background-color: var(--secondary-colour);
                .toggle-yes {
                    background-color: var(--white);
                }
            }
        }
    }
    .hamburger-nav {
        .hamburger-inner {
            background-color: var(--secondary-colour);
            ul {
                li {
                    background-color: var(--primary-colour);
                }
            }
        }
    }
}
